/* POST ERROR SIMPLE */

.body-post-error-simple {
    background-color: #95c2de;
}

.mainbox-post-error-simple {
    background-color: #95c2de;
    margin: auto;
    height: 90vh;
    width: 600px;
    position: relative;
}

.err-post-error-simple {
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.far {
    position: absolute;
    font-size: 8.5rem;
    left: 42%;
    top: 15%;
    color: #ffffff;
}

.err2-post-error-simple {
    color: #ffffff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg-post-error-simple {
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
}

.a-post-error-simple {
    text-decoration: none;
    color: white;
}

.a-post-error-simple:hover {
    text-decoration: underline;
}

/* ABOUT */

.text-page-about {
    background: white;
    margin: auto;
    width: 80%;
    margin-top: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-height: 65vh;
}

.title-about {
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

.text-about {
    font-size: 1.1rem;
    text-indent: 3rem;
    padding: 1rem;
}

/* API PAGE */

.text-page-api-page {
    background: white;
    margin: auto;
    width: 80%;
    margin-top: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-height: 65vh;
}

.title-api-page {
    text-align: center;
    margin-bottom: 3rem;
    padding-top: 2rem;
}

.text-api-page {
    font-size: 1.1rem;
    text-indent: 3rem;
    padding: 1rem;
}

/* APP */

.body-app {
    padding: 0;
    margin: 0;
    background: rgb(237, 238, 240);
    min-height: 100vh;
}

/* POST  */

.mypost {
    background: white;
    margin: 10px;
    padding: 1rem;
}

/* POST LIST  */

.post-list {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

.post-list>.mypost {
    width: 70%;
    align-self: center;
}

@media screen and (max-width: 1024px) {
    .post-list>.mypost {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .post-list>.mypost {
        width: 100%;
    }
}

/* PROFILE */

.profile-image-profile {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.box-profile {
    display: flex;
}

.inline-profile {
    flex-direction: row;
}

.column-profile {
    flex-direction: column;
}

.text-profile {
    margin-left: 1rem;
    margin-right: 1rem;
}

.profile-page-profile {
    background: none;
    margin: auto;
    width: 80%;
    margin-top: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-height: 85vh;
}

.white-profile {
    background: white;
}

#cont1-profile {
    /* flex-grow: 0; */
    width: 50vw;
    min-height: 35rem;
    max-height: 35rem;
    border-right-style: solid;
    border-right-color: rgb(97, 11, 83);
    border-right-width: 2px;
}

#cont2-profile {
    /* flex-grow: 0; */
    padding: 1rem;
    width: 50vw;
}

#title-profile {
    font-size: 2.5rem;
    font-family: sans-serif;
    text-align: center;
}

/* PROFILE STRANGER */

.profile-image-profile-stranger {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
}

.fbox-profile-stranger {
    display: flex;
}

.inline-profile-stranger {
    flex-direction: row;
}

.column-profile-stranger {
    flex-direction: column;
}

.text-profile-stranger {
    margin-left: 1rem;
    margin-right: 1rem;
}

.profile-page-profile-stranger {
    background: none;
    padding: 0;
    margin: auto;
    width: 80%;
    margin-top: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    min-height: 85vh;
}

.white-profile-stranger {
    background: white;
}

#cont1-profile-stranger {
    flex-grow: 2;
    min-height: 35rem;
    max-height: 35rem;
    border-style: solid;
    border-color: darkslateblue;
    border-width: 1px;
    margin-right: 1%;
}

#cont2-profile-stranger {
    flex-grow: 0;
    padding: 1rem;
    width: 50vw;
}

#title-profile-stranger {
    font-size: 2.5rem;
    font-family: sans-serif;
    text-align: center;
}

.center-bar-profile-stranger {
    margin: auto;
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.buttons-profile-stranger:not(:last-child) {
    margin-bottom: 0;
}

/* USER FIND  */

.find-field {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 0;
}

.user-list {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0;
}

.user-list>* {
    margin-bottom: 1rem;
}

.media {
    padding: 1.5rem;
    background: white;
}