<template>
  <div class="block">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/600px-Facebook_Logo_%282019%29.png"
      alt=""
    />
    <h2>{{message.author}}</h2>
    <p>{{message.text}}</p>
  </div>
</template>

<script>
export default {
  props: ["message"]
};
</script>

<style scoped>
.block {
  overflow: hidden;
  background: rgb(78, 78, 78);
  padding: 1rem;
  max-width: 100%;
  margin: 0 0 1rem 0;
  min-height: 5rem;
  max-height: 5rem;
}
.block img {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 1rem 0 0;
}
.block h2 {
  font-weight: 500;
  margin: 0 0 0.5rem 0;
}
</style>