<template>
  <div>
    <div class="content">
      <div class="text-page">
        <h1 class="title">Api документация</h1>
        <p class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Istam
          voluptatem perpetuam quis potest praestare sapienti? Cumque ipsa
          virtus efficiat ita beatam vitam, ut beatior esse non possit, tamen
          quaedam deesse sapientibus tum, cum sint beatissimi; An obliviscimur,
          quantopere in audiendo in legendoque moveamur, cum pie, cum amice, cum
          magno animo aliquid factum cognoscimus? Quorum omnium quae sint
        </p>
      </div>
    </div>
    <Footer/>
  </div>
</template>

<script>
import Footer from "@/components/buefy/Footer.vue";

export default {
  components: {
    Footer,
  },
};
</script>

<style scoped>
.text-page {
  background: white;
  margin: auto;
  width: 80%;
  margin-top: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  min-height: 65vh;
}
.title {
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
}
.text {
  font-size: 1.1rem;
  text-indent: 3rem;
  padding: 1rem;
}
</style>
