<template>
  <div class="error">
    <img src="https://i.imgur.com/fzUhnqA.png" alt="404 error" />
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.error{
    display: flex;
    justify-content: center;
    height: 90vh;
}

@media screen and (max-width: 500px) {
  .error {
    height: 30%;
  }
}
</style>
