<template>
  <div>
    <div v-if="subscriptions.length == 0">Нет подписок</div>
    <div v-else-if="!error">
      <article v-for="subscription in subscriptions" :key="subscription.id" class="media user">
        <figure class="media-left">
          <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png" />
          </p>
        </figure>
        <div class="media-content">
          <div class="content">
            <p>
              <router-link :to="'/profile/' + subscription.username">
                <strong>{{ subscription.username }}</strong>
              </router-link>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div v-else>Упс у ваш ошибка с подписками</div>
  </div>
</template>

<script>
var trigger = true;

export default {
  props: ["isEnable"],
  data() {
    return {
      subscriptions: [],
      error: false,
      pageId: 0,
      pageSize: 7,
    };
  },
  mounted() {
    this.getSubscriptions(0, 7);
  },
  methods: {
    getSubscriptions(pageId, size) {
      this.$http
        .get("http://api.kudastorm.com/api/v1/user/subscriptions", {
          params: { p: pageId, n: size },
        })
        .then(
          (response) => {
            if (response.body.users.length != 0) {
              this.subscriptions.splice(
                this.subscriptions.length,
                0,
                ...response.body.users
              );
              this.pageId += 1;
              trigger = true;
            }
          },
          () => {
            this.error = true;
          }
        );
    },
    handleScroll() {
      if (this.error) return;
      if (!this.isEnable) return;
      var isScrolled =
        window.scrollY + window.innerHeight >= document.body.clientHeight - 10;
      if (isScrolled && trigger) {
        trigger = false;
        this.getSubscriptions(this.pageId, this.pageSize);
      }
    },
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<style scoped>
.user{
    border-bottom: black solid 1px;
}
</style>
