<template>
  <div id="app">
    <NavBar :isAuthorized="isAuthorized" :user="user" />
    <router-view :isAuthorized="isAuthorized" :user="user" />
  </div>
</template>

<script>
import NavBar from "@/components/buefy/NavBar.vue";

export default {
  components: {
    NavBar,
  },
  data() {
    return {
      isAuthorized: false,
      user: {},
    };
  },
  beforeCreate() {
    if (document.cookie) {
      this.$http.get("http://api.kudastorm.com/api/v1/user/me").then(
        (response) => {
          this.isAuthorized = true;
          this.user = response.body;
          sessionStorage.setItem("username", response.body.username);
          sessionStorage.setItem("id", response.body.id)
        },
        () => {
          this.isAuthorized = false;
          this.user = {};
          sessionStorage.clear();
        }
      );
    }
  },
};
</script>
<style>
body {
  padding: 0;
  margin: 0;
  background: rgb(237, 238, 240);
  min-height: 100vh;
}
</style>
