<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Напишу сюда всякую инфу, которая вроде бы и нужна, но её никто никогда
        не увидит. Да кому я это объясняю. Нужно было идти на юриста, а не идти
        копирайтером на фриланс...
      </p>
    </div>
  </footer>
</template>
