<template>
  <div>
    <PostList :posts="posts" :isAuthorized="isAuthorized" :user="user" />
  </div>
</template>

<script>
import PostList from "@/components/buefy/PostList.vue";

export default {
  props: ["isAuthorized", "user"],
  components: {
    PostList
  },
  data() {
    return {
      posts: [],
    };
  },
};
</script>
