<template>
  <div>
    <div id="list" class="post-list" v-if="!postError">
      <post-form v-if="isAuthorized" :isAuthorized="isAuthorized" :user="user" :posts="posts" class="mypost" />
      <Post v-for="(post, index) in posts" :key="post.id" :post="post" :post_id="index" :posts="posts"/>
    </div>
    <post-error-simple v-else />
    <!-- <post-error-great/> -->
  </div>
</template>

<script>
import Post from "@/components/buefy/Post.vue";
import PostErrorSimple from "@/components/buefy/PostErrorSimple.vue";
import PostForm from "@/components/buefy/PostForm.vue";
// import PostErrorGreat from '@/components/buefy/PostErrorGreat.vue';

var trigger = true;

export default {
  props: ["posts", "isAuthorized", "user"],
  components: {
    Post,
    PostErrorSimple,
    PostForm,
    // PostErrorGreat
  },
  data() {
    return {
      postError: false,
      pageId: 0,
      pageSize: 7,
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    getPosts(pageId, size) {
      this.$http
        .get("/api/v1/post/list", {
          params: { p: pageId, n: size },
        })
        .then(
          (response) => {
            if (response.body.posts.length !== 0) {
              this.posts.splice(this.posts.length, 0, ...response.body.posts);
              this.pageId += 1;
              trigger = true;
            }
          },
          () => {
            this.postError = true;
          }
        );
    },
    handleScroll() {
      if (this.postError) return;
      var isScrolled =
        window.scrollY + window.innerHeight >= document.body.clientHeight - 10;
      if (isScrolled && trigger) {
        console.log("Yeeee");
        trigger = false;
        this.getPosts(this.pageId, this.pageSize);
      }
    },
  },
  mounted() {
    this.getPosts(0, 7);
  },
};
</script>

<style>
.post-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.post-list > .mypost {
  width: 70%;
  align-self: center;
}

@media screen and (max-width: 1024px) {
  .post-list > .mypost {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .post-list > .mypost {
    width: 100%;
  }
}
</style>
