<template>
  <section>
    <!-- Свойство grouped если убрать то получим другой дизайн кнопки. Попробуй! -->
    <b-field
      label="Напишите пост"
      :type="{ 'is-danger': hasError }"
      :message="{
        'Возникли некоторые проблемы. Может с интернетом, а может со текстом': hasError,
      }"
      grouped
    >
      <b-input
        id="post-field"
        v-model="text"
        type="text"
        maxlength="200"
        expanded
      ></b-input>
      <p class="control">
        <b-button label="Опубликовать" @click="savePost(text)" type="is-primary" />
      </p>
    </b-field>
  </section>
</template>

<script>
export default {
  props: ["isAuthorized", "user", "posts"],
  data() {
    return {
      hasError: false,
      text: "",
    };
  },
  methods: {
    savePost(text) {
      if (!this.text.trim()) {
        this.hasError = true;
        return;
      } else {
        this.hasError = false;
      }

      this.$http.post("/api/v1/post", JSON.stringify({ text: text }), {}).then(
        (response) => {
          this.posts.splice(0, 0, response.body);
          console.log(response.body);
          this.text = "";
        },
        () => {
          console.log("error");
        }
      );
    },
  },
  mounted() {
    document
      .getElementById("post-field")
      .addEventListener("keydown", ({ key }) => {
        if (key === "Enter") {
          this.savePost(this.text);
        }
      });
  },
};
</script>
