<template>
  <div>
    <div v-if="userPosts.length == 0">Нет постов</div>
    <div v-else-if="!postError">
      <Post v-for="post in userPosts" :key="post.id" :post="post" />
    </div>
    <div v-else>Упс у ваш ошибка с постами</div>
  </div>
</template>

<script>
import Post from "@/components/buefy/Post.vue";

var trigger = true;

export default {
  props: ["isEnable"],
  data() {
    return {
      userPosts: [],
      postError: false,
      pageId: 0,
      pageSize: 7,
    };
  },
  components: {
    Post,
  },
  mounted() {
    this.getUserPosts(0, 7);
  },
  methods: {
    getUserPosts(pageId, size) {
      this.$http
        .get("/api/v1/post", {
          params: { p: pageId, n: size },
        })
        .then(
          (response) => {
            if (response.body.posts.length != 0) {
              this.userPosts.splice(
                this.userPosts.length,
                0,
                ...response.body.posts
              );
              this.pageId += 1;
              trigger = true;
            }
          },
          () => {
            this.postError = true;
          }
        );
    },
    handleScroll() {
      if (this.postError) return;
      if (!this.isEnable) return;
      var isScrolled =
        window.scrollY + window.innerHeight >= document.body.clientHeight - 10;
      if (isScrolled && trigger) {
        trigger = false;
        this.getUserPosts(this.pageId, this.pageSize);
      }
    },
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<style>
</style>