<template>
  <div class="mypost">
    <section>
      <article class="media">
        <figure class="media-left">
          <router-link :to="'/profile/' + post.author.username">
            <p class="image is-64x64">
              <img
                src="https://d1nhio0ox7pgb.cloudfront.net/_img/o_collection_png/green_dark_grey/512x512/plain/user.png"
              />
            </p>
          </router-link>
        </figure>
        <div class="media-content">
          <div class="content">
            <p class="h-1">
              {{ post.text }}
            </p>
          </div>
          <nav class="level">
            <div class="level-left">
              <a class="level-item"> </a>
            </div>
            <div class="level-right">
              <a v-if="post.author.username" class="level-item">
                <router-link :to="'/profile/' + post.author.username">
                  {{ post.author.username }}
                </router-link>
              </a>
            </div>
          </nav>
        </div>
        <div>
          <b-dropdown aria-role="list">
            <template #trigger="active">
              <button class="dots-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="dots" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                </svg>
              </button>
            </template>


            <b-dropdown-item @click="copylink()" aria-role="listitem">Copy link</b-dropdown-item>
            <b-dropdown-item @click="deletepost()" v-if="post.author.username === sessionStorage.getItem('username')" aria-role="listitem">Delete</b-dropdown-item>
          </b-dropdown>
        </div>
      </article>
    </section>
  </div>
</template>

<script>
import { ToastProgrammatic as Toast } from 'buefy'

export default {
  props: ["post", "user", "post_id", "posts"],
  data(){
    return {
      sessionStorage: sessionStorage
    }
  },
  methods: {
    copylink(){
      navigator.clipboard.writeText(document.location.href + "api/v1/post/" + this.post.id).then(function() {
        Toast.open('Copy')
      }, function() {
        Toast.open('Copy failed')
      });
    },
    deletepost(){
      this.$http
          .delete("/api/v1/post/" + this.post.id)
          .then(
              () => {
                this.posts.splice(this.post_id, 1);
                Toast.open('Deleted');
              },
              () => {
                Toast.open('Deletion failed');
              }
          );
    }
  },
  created() {
    if (this.post.author === undefined) {
      this.post.author = { username: "" };
    }
  },
};
</script>

<style>
.mypost {
  background: white;
  margin: 10px;
  padding: 1rem;
}
.dots{
  height: 1.5rem;
}
.dots-button{
  border: none;
  background: transparent;
}
.h-1{
  min-height: 8rem;
}
</style>
