<template>
  <div class="box inline profile-page">
    <div id="cont1" class="box column white">
      <div class="profile-image">
        <img src="https://picsum.photos/350/350" alt="A random image" />
      </div>
      <div>
        <p class="text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti,
          quidem dolores voluptatem ipsa necessitatibus eos placeat qui ducimus
          architecto ad hic? Qui explicabo labore impedit eos amet distinctio
          nam nulla.
        </p>
      </div>
    </div>
    <div id="cont2" class="white">
      <p id="title">Профиль</p>
      <b-tabs v-model="activeTab" position="is-centered" class="block">
        <b-tab-item label="Главная">
          <p>
            Имя пользователя <b>{{ user.username }}</b>
          </p>
        </b-tab-item>
        <b-tab-item label="Посты">
          <PostListTab :isEnable="activeTab === 1" />
        </b-tab-item>
        <b-tab-item label="Подписчики">
          <SubscribersListTab :isEnable="activeTab === 2"/>
        </b-tab-item>
        <b-tab-item label="Подпиcки">
          <SubscriptionsListTab :isEnable="activeTab === 3"/>
        </b-tab-item>
      </b-tabs>
    </div>
  </div>
</template>

<script>
import PostListTab from "@/components/buefy/PostListTab.vue";
import SubscribersListTab from "@/components/buefy/SubscribersListTab.vue";
import SubscriptionsListTab from "@/components/buefy/SubscriptionsListTab.vue";

export default {
  props: ["user"],
  data() {
    return {
      activeTab: 0,
    };
  },
  components: {
    PostListTab,
    SubscribersListTab,
    SubscriptionsListTab,
  },
  mounted() {
    if (!sessionStorage.getItem("id")) {
      this.$router.push({ path: "/" });
      return;
    }
  },
};
</script>

<style scoped>
.profile-image {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.box {
  display: flex;
}

.inline {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.profile-page {
  background: none;
  margin: auto;
  width: 80%;
  margin-top: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  min-height: 85vh;
}

.white {
  background: white;
}

#cont1 {
  /* flex-grow: 0; */
  width: 50vw;
  min-height: 35rem;
  max-height: 35rem;
  border-right-style: solid;
  border-right-color: rgb(97, 11, 83);
  border-right-width: 2px;
}

#cont2 {
  /* flex-grow: 0; */
  padding: 1rem;
  width: 50vw;
}

#title {
  font-size: 2.5rem;
  font-family: sans-serif;
  text-align: center;
}
</style>
