<template>
  <div>
    <b-notification v-if="isLoading" :closable="false">
      <b-loading
        :is-full-page="false"
        v-model="isLoading"
        :can-cancel="false"
      ></b-loading>
    </b-notification>
    <div v-else class="fbox profile-page">
      <div id="cont1" class="fbox column white">
        <div class="profile-image">
          <img src="https://picsum.photos/350/350" alt="A random image" />
        </div>
        <div class="buttons center-bar">
          <b-button @click="subscribe" v-if="!isSubscribed" type="is-info"
            >Подписаться</b-button
          >
          <b-button @click="unsubscribe" v-else type="is-info is-light"
            >Отписаться</b-button
          >
        </div>
        <div>
          <p class="text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti,
            quidem dolores voluptatem ipsa necessitatibus eos placeat qui
            ducimus architecto ad hic? Qui explicabo labore impedit eos amet
            distinctio nam nulla.
          </p>
        </div>
      </div>

      <div id="cont2" class="white">
        <p id="title">Профиль</p>
        <b-tabs position="is-centered" class="block tabs-sizes">
          <b-tab-item label="Главная">
            <p>
              Имя пользователя <b>{{ someUser.username }}</b>
            </p>
          </b-tab-item>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["isAuthorized", "user"],
  data() {
    return {
      someUser: {},
      isSubscribed: false,
      isLoading: true,
    };
  },
  methods: {
    subscribe() {
      console.log("subscribe");
      this.$http.post("/api/v1/user/subscribe/" + this.someUser.id).then(() => {
        this.isSubscribed = true;
      });
    },
    unsubscribe() {
      console.log("unsubscribe");
      this.$http.post("/api/v1/user/unsubscribe/" + this.someUser.id).then(() => {
        this.isSubscribed = false;
      });
    },
  },
  mounted() {
    if (
      sessionStorage.getItem("username") == this.$route.params.username ||
      sessionStorage.getItem("id") == this.$route.params.username
    ) {
      this.$router.push({ path: "/profile" });
      return;
    }
    var progress = () => {
      this.isLoading = false;
    };
    this.$http
      .get("/api/v1/user/extended/" + this.$route.params.username, {
        progress: progress,
      })
      .then(
        (response) => {
          this.someUser = response.body.user;
          this.isSubscribed = response.body.isSubscribed;
        },
        () => {
          this.$router.push({ path: "/" });
          return;
        }
      );
  },
};
</script>

<style scoped>
.profile-image {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}
.fbox {
  display: flex;
}

.inline {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.text {
  margin-left: 1rem;
  margin-right: 1rem;
}

.profile-page {
  background: none;
  padding: 0;
  margin: auto;
  width: 80%;
  margin-top: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  min-height: 85vh;
}

.white {
  background: white;
}

#cont1 {
  flex-grow: 2;
  min-height: 35rem;
  max-height: 35rem;
  border-style: solid;
  border-color: darkslateblue;
  border-width: 1px;
  margin-right: 1%;
}

#cont2 {
  flex-grow: 0;
  padding: 1rem;
  width: 50vw;
}

#title {
  font-size: 2.5rem;
  font-family: sans-serif;
  text-align: center;
}

.center-bar {
  margin: auto;
  margin-top: 0.3rem;
  margin-bottom: 0;
}

.buttons:not(:last-child) {
  margin-bottom: 0;
}
</style>